@for (var i = 0; i < Collection.Count; i++)
{
<RootCause RootCauses="@Collection" Index="@i" />
}
<button type="button" class="btn btn-danger" disabled="@(Collection.Count == 0)" onclick="@RemoveLast">-</button>
<button type="button" class="btn btn-secondary float-left" onclick="@AddRootCause">Add root cause</button>

@functions {
    [Parameter]
    private List<string> Collection { get; set; }

    private void AddRootCause()
    {
        Collection.Add("");
    }

    private void RemoveLast() {
        Collection.RemoveAt(Collection.Count - 1);
    }

    private void DeleteRootCause(int index)
    {
        Collection = Collection.Where((_, i) =>  i != index).ToList();
        this.StateHasChanged();
    }
}