@page "/incident"
@page "/incident/{Id}"
@using IncidentReporter.Shared
@inject IUriHelper UriHelper
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<button class="return-button btn btn-outline-secondary" type="button" onclick="@(() => UriHelper.NavigateTo("/"))">Return</button>

<h1>Incident @Id</h1>

<form method="post">
    <div class="background row">
        <div class="form-group col-2">
            <label for="date">Date</label>
            <input type="datetime" id="date" bind="@incident.Date" class="form-control" />
        </div>
        <div class="form-group col-10">
            <label for="summary">Summary</label>
            <input type="text" id="summary" bind="@incident.Summary" class="form-control" />
        </div>
    </div>

    <h2>Actions Taken</h2>
    <ActionsTaken Actions="@actionsTaken" />

    <h2>Report</h2>
    <div class="report">
        <div class="form-group">
            <label for="root-cause">Root Cause</label>
            <input type="text" id="root-case" bind="@incident.RootCause" class="form-control" />
        </div>
        <div class="form-group">
            <label for="trigger">Trigger</label>
            <input type="text" id="trigger" bind="@incident.Trigger" class="form-control" />
        </div>
        <div class="form-group">
            <label for="detection">Detection</label>
            <input type="text" id="detection" bind="@incident.Detection" class="form-control" />
        </div>
        <div class="form-group">
            <label for="impact">Impact</label>
            <input type="text" id="impact" bind="@incident.Impact" Class="form-control" />
        </div>
        <div class="form-group">
            <label for="resolution">Resolution</label>
            <input type="text" id="resolution" bind="@incident.Resolution" class="form-control" />
        </div>
        <div class="form-group">
            <label for="lessons-learned">Lessons Learned</label>
            <input type="text" id="lessons-learned" bind="@incident.LessonsLearned" class="form-control" />
        </div>
    </div>
    <div class="form-check">
        <input type="checkbox" id="is-resolved" bind="@incident.IsResolved" class="form-check-input" />
        <label class="form-check-label" for="is-resolved">Is Resolved</label>
    </div>
    <!-- TODO: Auto-fill these from work item integration -->
    <!-- <InputCollection Type="Work Item" Collection="@workItems" /> -->
    <button class="btn btn-primary" type="button" onclick="@Submit">Save and Close</button>
</form>


@functions {
    [Parameter]
    private string Id { get; set; }

    private Incident incident = new Incident();
    private List<ActionTaken> actionsTaken = new List<ActionTaken>();


    protected override async Task OnInitAsync()
    {
        if (Id != null)
        {
            incident = await Http.GetJsonAsync<Incident>($"api/Incident/{Id}");
            actionsTaken.AddRange(incident.ActionsTaken ?? new List<ActionTaken>());
        }
        else
        {
            DateTime incidentCreationTimestamp = DateTime.Now;
            incident = new Incident
            {
                Id = incidentCreationTimestamp.ToString("ddMMyyhhmmss"),
                Date = incidentCreationTimestamp,
                Summary = $"Incident at {incidentCreationTimestamp.ToLongDateString()} {incidentCreationTimestamp.ToLongTimeString()}"
            };
            Id = incident.Id;
            await JSRuntime.InvokeAsync<string>("ReplaceState", $"incident/{incident.Id}");
        }
    }

    private async Task Submit()
    {
        incident.ActionsTaken = actionsTaken;
        await Http.SendJsonAsync(HttpMethod.Post, @"api/Incident", incident);
        UriHelper.NavigateTo("/");
    }
}