@page "/"
@using IncidentReporter.Shared
@using System.Text
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<h2 class="mt-4">Active Incidents</h2>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Summary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in incidents.Where(inc => !inc.IsResolved).OrderByDescending(inc => inc.Date))
        {
            <tr>
                <td>@incident.Date</td>
                <td><a href="/incident/@incident.Id">@incident.Summary</a></td>
                <td>
                    <button type="button" class="btn btn-secondary" onclick="@(() => Export(@incident))">Export</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2 class="mt-4">Resolved Incidents</h2>
<!-- TODO: Make a shared component to reduce duplication in these two tables -->
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in incidents.Where(inc => inc.IsResolved).OrderByDescending(inc => inc.Date))
        {
            <tr>
                <td>@incident.Date</td>
                <td><a href="/incident/@incident.Id">@incident.Summary</a></td>
                <td>
                    <button type="button" class="btn btn-secondary" onclick="@(() => Export(@incident))">Export</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="actions">
    <a class="btn btn-outline-primary" role="button" href="/incident">New Incident</a>
</div>

@functions {
    private IEnumerable<Incident> incidents = new List<Incident>();

    protected override async Task OnInitAsync()
    {
        incidents = await Http.GetJsonAsync<IEnumerable<Incident>>("api/Incident/");
    }

    private async Task Export(Incident incident)
    {
        var markdown = await Http.SendJsonAsync<string>(HttpMethod.Post, @"api/Incident/Export", incident);
        var bytes = Encoding.UTF8.GetBytes(markdown);
        await JSRuntime.InvokeAsync<string>("SaveAsFile", $"incident-{incident.Id}.md", Convert.ToBase64String(bytes));
    }
}